* {
  margin: 0;
  padding: 0;
}

a {
  text-align: center;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background-canvas)!important;
  box-sizing: border-box;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
}

:root {
  --color-background-canvas: #f3f2f0;
}