@import 'variables';

.global-nav {
  background-color: $color-background-container;
  left: 0;
  padding: 0 $spacing-three-x;
  position: fixed;
  top: 0;
  width: calc(100vw - 2 * $spacing-three-x);
  display: flex;
  z-index: 100;
  border-bottom: 1px solid $color-border-faint;

  &__content {
    align-items: center;
    display: flex;
    margin: 0 auto;
    min-height: 100%;
    flex: 1;

    a {
      display: flex;

      .global-logo {
        display: flex;
        margin: 0 0.4rem 0 -0.4rem;

        img {
          width: 40px;
          height: 40px;
          margin: 1px;
        }
      }
    }

    .global-nav-search {
      position: relative;
      flex-grow: 1;

      .search-global-typeahead {
        position: relative;
        max-width: 280px;

        &.search-global-typeahead-focused {
          transition: max-width .3s ease-out;
          max-width: 384px;

          .global-nav-typeahead__input {
            transition: 0.3s ease-out;
            width: 100%;
            padding-left: 2.8rem;
            padding-right: 0.8rem;
            border: none;
            font-size: 16px;
            background-color: $voyager-color-background-input-search;
            box-shadow: $elavation-lined;
          }
        }

        .global-nav-typeahead {
          display: none;
          width: calc(100vw - 102px);
          position: relative;
          z-index: 2;

          &__input {
            border: none;
            box-shadow: none;
            width: 100%;
            line-height: 1.75;
            font-weight: 400;
            font-size: 14px;
            height: 34px;
            background-color: $voyager-color-background-input-search;
            border-radius: $corner-radius-small;
            color: $color-text-active;
            padding: 0 40px;
            box-sizing: border-box;
            transition: box-shadow $motion-transition-hover-in;
          }
        }

        &-btn {
          margin-left: .8rem;
          margin-right: .8rem;
          box-shadow: none;
          justify-content: center;
          align-items: center;
          transition: background-color .15s;
          font-size: 24px;
          color: $color-text-low-emphasis;

          &-text {
            display: none;
            font-size: .8rem;
          }
        }
      }

      &-icon {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        border-radius: 0 2px 2px 0;
        width: 40px;
        height: 34px;
        margin: 0;
        box-shadow: none;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color .15s;
      }
    }
  }

  &__nav {
    margin-left: auto;
    min-height: 52px;

    .global-nav__primary-items {
      display: flex;
      flex-wrap: nowrap;
      list-style-type: none;

      .global-nav__primary-item {
        display: flex;
        align-items: center;

        &:last-child {
          border-left: 1px solid $system-gray-60-a20;
        }

        &-link {
          align-items: center;
          background: transparent;
          color: $color-icon-nav;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          font-size: 1.6rem;
          font-weight: 400;
          justify-content: center;
          text-align: center;
          min-height: 52px;
          min-width: 80px;
          position: relative;
          text-decoration: none;

          &:hover, &:active {
            color: $color-icon-nav-selected;
          }

          &:after {
            border-bottom: 2px solid $color-icon-nav-selected;
            content: "";
            bottom: 0;
            left: 0;
            position: absolute;
            transform: scaleX(0);
            transition: transform .25s ease-in-out;
            width: 100%;
          }

          &.active {
            color: $color-icon-nav-selected;

            &:after {
              transform: scaleX(1);
            }
          }

          &-btn {
            background: transparent;
            color: $color-icon-nav;
            cursor: pointer;
            display: flex;
            align-items: center;
            flex-direction: column;
            font-size: 1.6rem;
            font-weight: 400;
            justify-content: center;
            text-align: center;
            min-height: 52px;
            min-width: 80px;
            position: relative;
            text-decoration: none;
            border: none;

            img {
              border-radius: 50%;
              border: none;
              height: 24px;
              overflow: hidden;
              transform: scale(1);
              transition: transform .2s ease-in-out;
              width: 24px;
            }

            span {
              font-size: .8rem;
            }

            &:hover {
              color: $color-icon-nav-selected;
            }
          }

          span {
            font-size: .8rem;
          }
        }
      }
    }
  }
}

.content {
  padding-top: 52px;

  &-body {
    margin: 30px auto 10px;
    column-gap: 1.6rem;
    display: grid;
    grid-area: content;
    grid-template-rows: auto;
    row-gap: 1.6rem;
    grid-template-areas:
        "sidebar"
        "main"
        "aside";

    .left-profile {
      background-color: white;
      height: fit-content;
      border-radius: 8px;
      box-shadow: 0 0 0 1px hsla(0,0%,54.9%,0.2);

      .identity-profile {
        padding: 1.2rem 1.2rem 1.6rem;

        &-link {
          img {
            margin: -38px auto .4rem;
            border: 2px solid $color-background-container;
            background-color: $color-background-container;
            border-radius: $corner-radius-full;
            box-shadow: none;

            width: 72px;
            height: 72px;
            box-sizing: border-box;
            background-clip: content-box;
          }

          &-text {
            color: $color-text;
            line-height: 1.5;
            font-size: 1.2rem;
            font-weight: 600;
          }
        }

        &-headline {
          color: $color-text-low-emphasis;
          font-size: .8rem;
          text-align: center;
        }
      }
    }

    .posts {
      &-item {
        background-color: white;
        border-radius: 8px;
        box-shadow: 0px 0px 0px 1px hsla(0,0%,54.9%,0.2);
        padding: 20px;
        margin-bottom: 10px;
        position: relative;

        &-title {
          font-size: 1.4rem;
          color: $black-a90;
          font-weight: 600;

        }

        &-body {
          font-size: 1.4rem;
          color: $black-a90;
          font-weight: 300;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .right-block {
      background-color: white;
      border-radius: 8px;
      box-shadow: 0px 0px 0px 1px hsla(0,0%,54.9%,0.2);
      padding: 1.2rem;
      //min-width: calc(300px - 2.4rem);
      height: fit-content;
      grid-area: aside;

      &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color-text;
        font-size: 1.4rem;
        font-weight: 600;

        &-link, &-link img{
          display: flex;
          margin-left: 5px;
          height: 20px;
        }
      }

      &-items ul {
        margin-top: 1rem;
        list-style-type: none;

        .right-block-item {
          display: flex;
          align-items: center;
          margin: 1.2rem 0;
          position: relative;

          a {
            text-align: left;
            color: $color-icon-nav;

            &:hover {
              color: $color-icon-nav-selected;
            }
          }

          &-body {
            display: flex;
            flex-direction: column;

            & span:last-child {
              color: $color-text-low-emphasis;
              font-size: .8rem;

              &:hover {
                color: $color-icon-nav-selected;
              }
            }
          }
        }
      }
    }
  }
}

.loaders {
  position: relative;
  height: 30px;
  width: 30px;
  margin: 0 auto;

  .artdeco-loader__bars {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: rgba(0,0,0,0.6);

    &:before {
      content: "";
      display: block;
      width: 0;
      margin: 0 auto;
      height: 6px;
      border: 1px solid;
      border-radius: 1px;
      animation: loaderfade 1s ease-in-out infinite both;
    }

    &:first-child {
      transform: rotate(-30deg);

      &:before {
        animation-delay: -83.33333ms;
      }
    }

    &:nth-child(2) {
      transform: rotate(-60deg);

      &:before {
        animation-delay: -166.66667ms;
      }
    }

    &:nth-child(3) {
      transform: rotate(-90deg);

      &:before {
        animation-delay: -.25s;
      }
    }

    &:nth-child(4) {
      transform: rotate(-120deg);

      &:before {
        animation-delay: -.33333333s;
      }
    }

    &:nth-child(5) {
      transform: rotate(-150deg);

      &:before {
        animation-delay: -.41666667s;
      }
    }

    &:nth-child(6) {
      transform: rotate(-180deg);

      &:before {
        animation-delay: -.5s;
      }
    }

    &:nth-child(7) {
      transform: rotate(-210deg);

      &:before {
        animation-delay: -583.33333ms;
      }
    }

    &:nth-child(8) {
      transform: rotate(-240deg);

      &:before {
        animation-delay: -666.66667ms;
      }
    }

    &:nth-child(9) {
      transform: rotate(-270deg);

      &:before {
        animation-delay: -.75s;
      }
    }

    &:nth-child(10) {
      transform: rotate(-300deg);

      &:before {
        animation-delay: -833.33333ms;
      }
    }

    &:nth-child(11) {
      transform: rotate(-330deg);

      &:before {
        animation-delay: -916.66667ms;
      }
    }

    &:nth-child(12) {
      transform: rotate(-360deg);

      &:before {
        animation-delay: -1s;
      }
    }
  }
}

@keyframes loaderfade {
  0%,5%,to {
    opacity: .8
  }

  95% {
    opacity: .05
  }
}

@media screen and (max-width: 576px){
  .left-profile, .posts .posts-item, .right-block {
    border-radius: 0!important;
  }
}

@media screen and (max-width: 853px) {
  .global-nav__nav .global-nav__primary-items .global-nav__primary-item {
    margin: 0 calc($spacing-three-x/2);

    .global-nav__primary-item-link {
      min-width: 48px;

      span {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .global-nav__content .global-nav-search {
    flex-grow: 0;
  }
  .global-nav__nav {
    margin-left: 0;
  }
}

@media screen and (min-width: 576px){
  .content-body {
    width: $scaffold-layout-none-max-width;
  }
}

@media screen and (min-width: 768px){
  .content-body {
    width: $scaffold-layout-md-max-width;
    grid-template-areas:
        "sidebar main"
        ". aside";
    grid-template-columns: minmax(0,225px) minmax(0,auto);
  }
}

@media screen and (min-width: 853px) and (max-width: 1024px) {
  .global-nav .global-nav__content .global-nav-search .search-global-typeahead {
    .global-nav-typeahead {
      display: none;
    }

    &-btn, &-btn-text {
      display: block;
    }
  }
}

@media screen and (min-width: 992px){
  .content-body {
    width: $scaffold-layout-lg-max-width;
    grid-template-areas: "sidebar main aside";
    grid-template-columns: minmax(0,225px) minmax(0,auto) minmax(0,300px);
  }
}

@media screen and (min-width: 1025px) {
  .global-nav .global-nav__content .global-nav-search {
    .global-nav-typeahead {
      display: block;
      width: 100%;
      z-index: 0;
    }

    .search-global-typeahead-btn {
      display: none;
    }
  }
}

@media screen and (min-width: 1200px) {
  .content-body, .global-nav .global-nav__content {
    width: $scaffold-layout-xl-max-width;
    flex: none;
  }
}